/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width:1115px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width:1092px) {
    .images-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media (max-width:742px) {
    footer {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer-list1,
    .footer-list2 {
        margin: 0 20px;
    }
}
@media (max-width:591px) {
    .contact-block {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media (max-width:579px) {
    .text-block {
        margin-left: 0;
    }
}
@media (max-width:426px) {
    footer {
        height: auto;
    }
    .footer-contactinfo {
        margin-top: 10px;
    }
    .footer-icon {
        margin-bottom: 10px;
    }
}